body{
    margin: 0;
    background-color: lightcyan;
}
#my-canvas{
    background-color: darkgray;
}
#start-btn {
    background-color: silver;
    color: gold;
    padding: 0px;
    font-size: 20px;
    margin-top: 40px;
    
    border-radius: 5px;
    width: 100px;
    height: 50px;
}
#restart-btn{
  background-color: silver;
  color: gold;
  padding: 0px;
  font-size: 20px;
  margin-top: 400px;
  margin-bottom: 30px;
  border-radius: 5px;
  width: 100px;
  height: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  #my-canvas, #pantalla-gameover{
    display: none;
  }
  #pantalla-principal{
    background-image: url(imagenes/losVengadoresPaginaInicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 600px;
  }
  #pantalla-gameover{
    background-image: url(imagenes/ThanosGAmeOver.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 600px;
  }
  #pantalla-gameover img{
    width: 200px;
  }
  #pantalla-principal img{
    width: 200px ;
  }
  